*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/originals/cb/10/9d/cb109d5d1402ae804422a89aa168da00.jpg);
    object-fit: contain;
}

.box{
    margin-top: 50vh;
    padding: 20px;
    background-color:rgba(255,255,255,0.4)
}

.click_me{
    width: 20vh;
    padding: 8px;
    font-size: 30px;
}


.hello{
    color: aliceblue;
    font-weight: 700;
    font-size: 40px;
    background-color: rgba(0,0,0,0.8);
}

.stylish{
    animation: slideIn 1s ease;
    padding:20px;
}

@keyframes slideIn{
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}